<div class="card mt-5">
    <div class="card text-center">
        <app-listado-titulos [tipo]="'principal'"></app-listado-titulos>
        <div class="container" *ngIf="mostrarLibro">
            <div class="row">
                <div class="col-md-4" *ngFor="let libro of libros">
                    <div class="card mt-5" [style.opacity]="opacidad">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.nombre }}</h5>
                        <p class="card-text">{{ libro.descripcion }}</p>
                        <p class="card-text"><strong>Categoría:</strong> {{ libro.categoria }}</p>
                        <p class="card-text"><strong>Año de publicación:</strong> {{ libro.anioPublicacion }}</p>
                        <button class="btn btn-primary mb-2" (click)="incrementarAnio(libro)">Incrementar Año</button>
                        <p class="card-text"><strong>Autor:</strong> {{ libro.autor }}</p>
                        <p class="card-text"><strong>Antigüedad:</strong> {{ libro.anioPublicacion | antiguedad }}</p>
                    </div>
                </div>
                </div>
                <div class="mt-5 text-center">
                    <app-opacidad-rango [opacidad]="opacidad"
                        (opacidadCambiada)="cambiarOpacidad($event)"></app-opacidad-rango>
                </div>
            </div>

        </div>

        <div class="form-check mt-5 text-center">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="mostrarLibro">
                Mostrar libro
            </label>
        </div>
    </div>
</div>